{% load static %}
<!doctype html>
<html lang="en-US">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %} ">

  <link rel="stylesheet" href="{% static 'css/animate.min.css'%}">

  <link rel="stylesheet" href="{% static 'css/boxicons.min.css' %} ">

  <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %} ">

  <link rel="stylesheet" href="{% static 'css/flaticon.css' %} ">

  <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %} ">

  <link rel="stylesheet" href="{% static 'css/nice-select.min.css' %} ">

  <link rel="stylesheet" href="{% static 'css/odometer.min.css' %} ">

  <link rel="stylesheet" href="{% static 'css/date-picker.min.css' %} ">

  <link rel="stylesheet" href="{% static 'css/muli-fonts.css'%}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <script src="{% static 'js/notiflix-aio.js' %} "></script>

  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
  <script>
 
  </script>

  <title>{% block title %}Kenya ambulances master list(Kml){% endblock title %}</title>
</head>

<body>


  <div class="preloader">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- Start of messages HAS TO BE APPENDED INSIDE THE BODY TAG-->
  <script>
 {% for message in messages %}
    Notiflix.Notify.Success('{{message}}');
  {% endfor %}
  </script>

  <header class="header-area">

    <div class="top-header top-header-two">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6">
            <ul class="header-left-content">
              <li>
                <span>Hot Line</span>
                <a href="tel:911">911</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="header-right-content">
              
              <ul class="log-in">
                <li>
                  <a href="{% url 'account_login' %}">
                    <i class="bx bxs-lock"></i>
                    Log In
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="bx bxs-user"></i>
                    Register
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="navbar-area navbar-area-two">
      <div class="mobile-nav">
        <div class="container">
          <div class="mobile-menu">
            <div class="logo">
              <a href="{% url 'home' %}">
                <img src="{% static 'images/ambulance.webp' %}" height='70px' width='70px' alt="logo">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="desktop-nav">
        <div class="container">
          <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'images/ambulance.webp' %}" height='70px' width='70px' alt="logo">
            </a>
            <div class="collapse navbar-collapse mean-menu">
              <ul class="navbar-nav m-auto">
                <li class="nav-item">
                  <a href="#" class="nav-link active">
                    Map View
                  </a>
                  
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    List View
                  </a>
                  
                </li>
                
                
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    Help
                    <i class=""></i>
                  </a>
                  
                </li>
              </ul>
              <div class="others-option">
                <div class="get-quote">
                  <a href="{% url 'create-ambulance' %}" class="default-btn btn-two">
                    Add an ambulance
                  </a>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="others-option-for-responsive">
        <div class="container">
          <div class="dot-menu">
            <div class="inner">
              <div class="circle circle-one"></div>
              <div class="circle circle-two"></div>
              <div class="circle circle-three"></div>
            </div>
          </div>
          <div class="container">
            <div class="option-inner">
              <div class="others-option justify-content-center d-flex align-items-center">
                <div class="get-quote">
                  <a href="{% url 'create-ambulance' %}" class="default-btn">
                    Add an Ambulance
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>


  {% block content %}
  
  
  {% endblock content %}

  <footer class="footer-area footer-area-two pt-100 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="single-footer-widget single-bg">
            <a href="{% url 'home' %}" class="logo">
              <img src="{% static 'images/ambulance.webp' %}" height='150px' width='150px' alt="logo">
            </a>
            <p>Thanks for using our platform to serve you better.</p>
            
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-footer-widget">
            <h3>Contact</h3>
            <ul class="address">
              <li>
                <i class="bx bx-phone-call"></i>
                <span>Phone:</span>
                <a href="tel:911">911</a>
              </li>
              <li>
                <i class="bx bx-envelope"></i>
                <span>Email:</span>
               <a href='mailto:emergency@unes.com'>emergency@unes.com</a>
              </li>
              <li class="location">
                <i class="bx bx-location-plus"></i>
                <span>Address:</span>
                Nairobi
              </li>
            </ul>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-6">
          <div class="single-footer-widget">
            <h3>Help</h3>
            <ul class="import-link">
              <li>
                <a href="#">First Aid</a>
              </li>
              <li>
                <a href="#">Covid-19 Precautions</a>
              </li>
              <li>
                <a href="#">FAQ</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
   <div class="copy-right-area copy-right-area-two">
    <div class="container">
      <p>
        ©
        Laban Kiplagat
      </p>
    </div>
  </div>


  <div class="go-top go-top-two">
    <i class="bx bx-chevrons-up"></i>
    <i class="bx bx-chevrons-up"></i>
  </div>


 
  <script src="{% static 'js/jquery.min.js' %}"></script>

  <script src="{% static 'js/popper.min.js' %}"></script>

  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <script src="{% static 'js/meanmenu.min.js' %}"></script>

  <script src="{% static 'js/owl.carousel.min.js' %}"></script>

  <script src="{% static 'js/owl.carousel.min.js' %} "></script>
  <script src="{% static 'js/nice-select.min.js' %} "></script>



  <script src="{% static 'js/magnific-popup.min.js' %}"></script>

  <script src="{% static 'js/jquery.mixitup.min.js' %}"></script>

  <script src="{% static 'js/appear.min.js'%} "></script>

  <script src="{% static 'js/odometer.min.js' %}"></script>

  <script src="{% static 'js/range-slider.min.js' %}"></script>

  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>

  <script src="{% static 'js/form-validator.min.js'%}"></script>

  <script src="{% static 'js/contact-form-script.js'%}"></script>

  <script src="{% static 'js/ajaxchimp.min.js' %} "></script>

  <script src="{% static 'js/custom.js' %} "></script>
</body>

</html>
